.counter {
  .top-row {
    justify-content: space-between;
    align-items: center;
  }

  .number {
    color: #fb6340;
    font-size: 6em;
    font-weight: bold;
  }

  .icon {
    //  font-size: 6em;
    color: #ced4da;
    // line-height: 1.5;
    // height: 100%;
    // width: auto;
  }
}
