.user-display {
    display: inline;
    align-items: last baseline;
    margin: 0 1em;

    &__img {
        max-height: 3.2em;
        border-radius: 3px;
        margin-right: 0.5em;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    }
}